<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="todo" href="/tabs/todo">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Todo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" href="/tabs/about">
      <ion-icon aria-hidden="true" name="information-circle-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact" href="/tabs/contact">
      <ion-icon aria-hidden="true" name="people-circle-outline"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
