<ion-app>
  <!-- <ion-router-outlet></ion-router-outlet> -->
  <ion-split-pane contentId="menu-content" when="xs" [disabled]="true">
    <ion-menu contentId="menu-content" menuId="menu-content" side="start" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>My App</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        My menu content goes here
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="menu-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
